{%- liquid
  assign is_featured = false
  if featured == true
    assign is_featured = true
  endif

  assign content_position_class = ''
  case block.settings.content_vertical_position
    when 'center'
      assign content_position_class = 'cta-tile__content--center'
    when 'bottom'
      assign content_position_class = 'cta-tile__content--bottom'
  endcase

  assign title_width_class = 'cta-tile__heading--full'
  if block.settings.image_layout == 'half'
    assign title_width_class = 'cta-tile__heading--half'
  endif

-%}

<a
  {% if block.settings.link != blank %}
    href="{{ block.settings.link }}"
  {% else %}
    role="link" aria-disabled="true"
  {% endif %}
  class="cta-tile{% if is_featured %} cta-tile--feature{% endif %}"
  style="--tile-bg: {{ block.settings.background_color }}; --tile-text: {{ block.settings.text_color }};"
  {{ block.shopify_attributes }}
>
    {% if block.settings.image != blank %}
        <div class="cta-tile__media{% if block.settings.image_layout == 'half' %} cta-tile__media--half{% endif %}">
            <img
            class="cta-tile__image"
            src="{{ block.settings.image | image_url: width: 2200 }}"
            srcset="
                {{ block.settings.image | image_url: width: 400 }} 400w,
                {{ block.settings.image | image_url: width: 600 }} 600w,
                {{ block.settings.image | image_url: width: 800 }} 800w,
                {{ block.settings.image | image_url: width: 1100 }} 1100w,
                {{ block.settings.image | image_url: width: 1500 }} 1500w,
                {{ block.settings.image | image_url: width: 1800 }} 1800w,
                {{ block.settings.image | image_url: width: 2200 }} 2200w
            "
            sizes="(min-width: 990px) 50vw, 100vw"
            alt="{{ block.settings.image.alt | escape }}"
            loading="lazy"
            width="{{ block.settings.image.width }}"
            height="{{ block.settings.image.height }}"
            >
        </div>
    {% endif %}

  <div class="cta-tile__content {{ content_position_class }}">
    {%- if block.settings.subtitle != blank -%}
      <p class="cta-tile__subtitle h6">{{ block.settings.subtitle }}</p>
    {%- endif -%}

    {%- if block.settings.title != blank -%}
      <div class="cta-tile__heading {{ block.settings.title_size }} {{ title_width_class }}">
        {{ block.settings.title }}
      </div>
    {%- endif -%}
  </div>
</a>