<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      {%- liquid
        assign has_grandchildren = false
        if link.links != blank
          for child_link in link.links
            if child_link.links != blank
              assign has_grandchildren = true
              break
            endif
          endfor
        endif

        assign promo_block = blank
        assign current_menu_handle = link.title | handle

        for block in section.blocks
          if block.type == 'mega_menu_promo'
            assign block_menu_handle = block.settings.menu_item | handle
            if block_menu_handle == current_menu_handle
              assign promo_block = block
              break
            endif
          endif
        endfor

        assign show_promo_1 = false
        assign show_promo_2 = false

        if promo_block != blank
          if promo_block.settings.promo_image_1 != blank or promo_block.settings.promo_title_1 != blank or promo_block.settings.promo_link_1 != blank
            assign show_promo_1 = true
          endif

          if promo_block.settings.promo_image_2 != blank or promo_block.settings.promo_title_2 != blank or promo_block.settings.promo_link_2 != blank
            assign show_promo_2 = true
          endif
        endif
      -%}

      <li>
        {%- if link.links != blank -%}

          {%- if has_grandchildren -%}
            <header-menu>
              <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
                <summary
                  id="HeaderMenu-{{ link.handle }}"
                  class="header__menu-item list-menu__item link focus-inset"
                >
                  <span
                    {%- if link.child_active %}
                      class="header__active-menu-item"
                    {% endif %}
                  >
                    {{- link.title | escape -}}
                  </span>
                </summary>

                <div
                  id="MegaMenu-Content-{{ forloop.index }}"
                  class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                  tabindex="-1"
                >
                  <div
                    class="mega-menu__wrapper page-width"
                    id="MegaMenuWrapper-{{ link.title | handle }}"
                    {% if promo_block != blank %}
                      style="--mega-menu-columns: {{ promo_block.settings.menu_columns }};"
                    {% endif %}
                  >
                    <ul
                      class="mega-menu__list mega-menu__list--cols-{% if promo_block != blank %}{{ promo_block.settings.menu_columns }}{% else %}4{% endif %} list-unstyled"
                      role="list"
                    >
                    {%- assign current_menu_handle = link.title | handle -%}

                    {%- if current_menu_handle == 'aromatherapy' -%}
                      {%- for child_link in link.links -%}
                        {%- assign child_handle = child_link.title | handle -%}

                        {%- unless child_handle == 'plant-waters-extracts' -%}
                          {%- if child_handle == 'carrier-oils' -%}
                            <li
                              class="mega-menu__item mega-menu__item--grouped mega-menu__item--{{ child_handle }}"
                              id="MegaMenu-{{ current_menu_handle }}-{{ child_handle }}"
                            >
                              <div class="mega-menu__group-block">
                                <h5
                                  class="mega-menu__link mega-menu__link--level-2 h5{% if child_link.current %} mega-menu__link--active{% endif %}"
                                  {% if child_link.current %}
                                    aria-current="page"
                                  {% endif %}
                                >
                                  {{ child_link.title | escape }}
                                </h5>

                                {%- if child_link.links != blank -%}
                                  <ul class="list-unstyled" role="list">
                                    {%- for grandchild_link in child_link.links -%}
                                      <li>
                                        <a
                                          href="{{ grandchild_link.url }}"
                                          class="mega-menu__link link{% if grandchild_link.current %} mega-menu__link--active{% endif %}"
                                          {% if grandchild_link.current %}
                                            aria-current="page"
                                          {% endif %}
                                        >
                                          {{ grandchild_link.title | escape }}
                                        </a>
                                      </li>
                                    {%- endfor -%}
                                  </ul>
                                {%- endif -%}
                              </div>

                              {%- for grouped_link in link.links -%}
                                {%- assign grouped_handle = grouped_link.title | handle -%}
                                {%- if grouped_handle == 'plant-waters-extracts' -%}
                                  <div
                                    class="mega-menu__group-block mega-menu__group-block--secondary"
                                    id="MegaMenu-{{ current_menu_handle }}-{{ grouped_handle }}"
                                  >
                                    <h5
                                      class="mega-menu__link mega-menu__link--level-2 h5{% if grouped_link.current %} mega-menu__link--active{% endif %}"
                                      {% if grouped_link.current %}
                                        aria-current="page"
                                      {% endif %}
                                    >
                                      {{ grouped_link.title | escape }}
                                    </h5>

                                    {%- if grouped_link.links != blank -%}
                                      <ul class="list-unstyled" role="list">
                                        {%- for grandchild_link in grouped_link.links -%}
                                          <li>
                                            <a
                                              href="{{ grandchild_link.url }}"
                                              class="mega-menu__link link{% if grandchild_link.current %} mega-menu__link--active{% endif %}"
                                              {% if grandchild_link.current %}
                                                aria-current="page"
                                              {% endif %}
                                            >
                                              {{ grandchild_link.title | escape }}
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    {%- endif -%}
                                  </div>
                                {%- endif -%}
                              {%- endfor -%}
                            </li>
                          {%- else -%}
                            <li
                              class="mega-menu__item mega-menu__item--{{ child_handle }}"
                              id="MegaMenu-{{ current_menu_handle }}-{{ child_handle }}"
                            >
                              <h5
                                class="mega-menu__link mega-menu__link--level-2 h5{% if child_link.current %} mega-menu__link--active{% endif %}"
                                {% if child_link.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ child_link.title | escape }}
                              </h5>

                              {%- if child_link.links != blank -%}
                                <ul class="list-unstyled" role="list">
                                  {%- for grandchild_link in child_link.links -%}
                                    <li>
                                      <a
                                        href="{{ grandchild_link.url }}"
                                        class="mega-menu__link link{% if grandchild_link.current %} mega-menu__link--active{% endif %}"
                                        {% if grandchild_link.current %}
                                          aria-current="page"
                                        {% endif %}
                                      >
                                        {{ grandchild_link.title | escape }}
                                      </a>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              {%- endif -%}
                            </li>
                          {%- endif -%}
                        {%- endunless -%}
                      {%- endfor -%}
                    {%- else -%}
                      {%- for child_link in link.links -%}
                        <li
                          class="mega-menu__item mega-menu__item--{{ child_link.title | handle }}"
                          id="MegaMenu-{{ link.title | handle }}-{{ child_link.title | handle }}"
                        >
                          <h5
                            class="mega-menu__link mega-menu__link--level-2 h5{% if child_link.current %} mega-menu__link--active{% endif %}"
                            {% if child_link.current %}
                              aria-current="page"
                            {% endif %}
                          >
                            {{ child_link.title | escape }}
                          </h5>

                          {%- if child_link.links != blank -%}
                            <ul class="list-unstyled" role="list">
                              {%- for grandchild_link in child_link.links -%}
                                <li>
                                  <a
                                    href="{{ grandchild_link.url }}"
                                    class="mega-menu__link link{% if grandchild_link.current %} mega-menu__link--active{% endif %}"
                                    {% if grandchild_link.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ grandchild_link.title | escape }}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          {%- endif -%}
                        </li>
                      {%- endfor -%}
                    {%- endif -%}
                  </ul>

                    {%- if promo_block != blank -%}
                      {%- if show_promo_1 or show_promo_2 -%}
                        <div class="mega-menu__promos" {{ promo_block.shopify_attributes }}>
                          {%- if show_promo_1 -%}
                            <div class="mega-menu__promo">
                              {%- if promo_block.settings.promo_link_1 != blank -%}
                                <a href="{{ promo_block.settings.promo_link_1 }}" class="mega-menu__promo-link">
                              {%- endif -%}

                              {%- if promo_block.settings.promo_image_1 != blank -%}
                                <div class="mega-menu__promo-image">
                                  {{
                                    promo_block.settings.promo_image_1
                                    | image_url: width: 800
                                    | image_tag:
                                      loading: 'lazy',
                                      widths: '300, 400, 500, 600, 700, 800',
                                      alt: promo_block.settings.promo_title_1
                                  }}
                                </div>
                              {%- endif -%}

                              {%- if promo_block.settings.promo_title_1 != blank -%}
                                <div class="mega-menu__promo-title button button--secondary">
                                  {{ promo_block.settings.promo_title_1 }}
                                </div>
                              {%- endif -%}

                              {%- if promo_block.settings.promo_link_1 != blank -%}
                                </a>
                              {%- endif -%}
                            </div>
                          {%- endif -%}

                          {%- if show_promo_2 -%}
                            <div class="mega-menu__promo">
                              {%- if promo_block.settings.promo_link_2 != blank -%}
                                <a href="{{ promo_block.settings.promo_link_2 }}" class="mega-menu__promo-link">
                              {%- endif -%}

                              {%- if promo_block.settings.promo_image_2 != blank -%}
                                <div class="mega-menu__promo-image">
                                  {{
                                    promo_block.settings.promo_image_2
                                    | image_url: width: 800
                                    | image_tag:
                                      loading: 'lazy',
                                      widths: '300, 400, 500, 600, 700, 800',
                                      alt: promo_block.settings.promo_title_2
                                  }}
                                </div>
                              {%- endif -%}

                              {%- if promo_block.settings.promo_title_2 != blank -%}
                                <div class="mega-menu__promo-title button button--secondary">
                                  {{ promo_block.settings.promo_title_2 }}
                                </div>
                              {%- endif -%}

                              {%- if promo_block.settings.promo_link_2 != blank -%}
                                </a>
                              {%- endif -%}
                            </div>
                          {%- endif -%}
                        </div>
                      {%- endif -%}
                    {%- endif -%}
                  </div>
                </div>
              </details>
            </header-menu>

          {%- else -%}
            <header-menu>
              <details id="Details-HeaderMenu-{{ forloop.index }}" class="header-dropdown-menu">
                <summary
                  id="HeaderMenu-{{ link.handle }}"
                  class="header__menu-item list-menu__item link focus-inset"
                >
                  <span
                    {%- if link.child_active %}
                      class="header__active-menu-item"
                    {% endif %}
                  >
                    {{- link.title | escape -}}
                  </span>
                </summary>

                <ul
                  id="HeaderMenu-MenuList-{{ forloop.index }}"
                  class="header__submenu list-menu list-menu--disclosure caption-large motion-reduce global-settings-popup"
                  role="list"
                  tabindex="-1"
                >
                  {%- for child_link in link.links -%}
                    <li>
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ child_link.handle }}"
                        href="{{ child_link.url }}"
                        class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if child_link.current %} list-menu__item--active{% endif %}"
                        {% if child_link.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ child_link.title | escape }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              </details>
            </header-menu>
          {%- endif -%}

        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>